html {
  font-family: "IBM Plex Sans", sans-serif;
}

table {
  border-collapse: collapse;
}

th {
  vertical-align: middle;
}

.top {
  background-color: #ddd;
}

.nearest {
  background-color: #efefef;
}

.logo {
  max-width: 200px;
}

.search-bar {
  position: absolute;
}

.search-icon {
  max-width: 15px;
  position: relative;
  left: 3.5px;
  top: 3.5px;
}

table {
  background-color: #fff;
}

.scroll {
    overflow:scroll;
    height:800px;
}
