html {
  font-family: "IBM Plex Sans", sans-serif;
  overflow: scroll;
}

table {
  border-collapse: collapse;
  background-color: #fff;
  min-width: 45em;
}

th {
  vertical-align: middle;
}

.top {
  background-color: #ddd;
}

.nearest {
  background-color: #efefef;
}

.logo {
  max-width: 200px;
  height: inherit;
}

form {
  height: 42px;
}

.search-bar {
  position: absolute;
}

.search-icon {
  max-width: 20px;
  position: relative;
  left: .5rem;
  bottom: 1.5rem;
}

/* .scroll {
  overflow: scroll;
  height: 800px;
} */

.white {
  background-color: #fff;
}

/*
ul > li::before {
  content: none;
} */

 @media only screen and (min-width: 60em) {

.table-wrapper {
  overflow: visible;
}

}
